{{ problem }}
{{ items_list }}
{{ rating_instructions }}
{{ rating_format }}
{{ rating_format_example }}
{{ rating_important }}
**Please output only the JSON object as per the format example, without any additional text.**
{{ your_answer }}
